/* app css stylesheet */

.redFont{
    color: red;
}

.greenFont{
    color: seagreen;
}

.orangeFont{
    color: darkorange;
}

.greyFont{
    color:gray;
}

.blueFont{
    color: cornflowerblue;
}

.panel-default > .panel-heading {
    background-color: #fff !important;
}

.noOutline{
    outline: 0;
}

.bold{
    font-weight: bold;
}
.vertical-center{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.form-horizontal .control-label.text-left{
    text-align: left;
}
