<br/>
<div ng-controller="submenuCtrl">
  <tabset>
    <tab heading="Gammes">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <a href="" ng-click="sortType = 'nom_gamme'">Nom
                <span ng-show="sortType == 'nom_gamme'  && !sortReverse" ng-click="sortReverse = true" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'nom_gamme'  && sortReverse" ng-click="sortReverse = false" class="glyphicon glyphicon-triangle-top"></span>
              </a>
            </th>
            <th colspan="2">
              <a href="" ng-click="sortType = 'description_gamme'">Description
                <span ng-show="sortType == 'description_gamme' && !sortReverse" ng-click="sortReverse = true" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'description_gamme' && sortReverse" ng-click="sortReverse = false" class="glyphicon glyphicon-triangle-top"></span>
              </a>
            </th>
          </tr>
          <tbody>
            <tr ng-repeat="item in catalogue.gamme | orderBy:sortType:sortReverse | filter:searchText">
              <td>{{item.nom_gamme}}</td>
              <td>{{item.description_gamme}}</td>
              <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a href="#" ng-click="confirmDelete()"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Modules">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                <a href="" ng-click="sortType = 'nom_module'">Nom
                  <span ng-show="sortType == 'nom_module'  && !sortReverse" ng-click="sortReverse = true" class="glyphicon glyphicon-triangle-bottom"></span>
                  <span ng-show="sortType == 'nom_module'  && sortReverse" ng-click="sortReverse = false" class="glyphicon glyphicon-triangle-top"></span>
                </a>
              </th>
              <th>
                <a href="" ng-click="sortType = 'description_module'">Description
                  <span ng-show="sortType == 'description_module' && !sortReverse" ng-click="sortReverse = true" class="glyphicon glyphicon-triangle-bottom"></span>
                  <span ng-show="sortType == 'description_module' && sortReverse" ng-click="sortReverse = false" class="glyphicon glyphicon-triangle-top"></span>
                </a>
              </th>
              <th>
                <a href="" ng-click="sortType = '_id_gamme'">Gamme(s)
                  <span ng-show="sortType == '_id_gamme' && !sortReverse" ng-click="sortReverse = true" class="glyphicon glyphicon-triangle-bottom"></span>
                  <span ng-show="sortType == '_id_gamme' && sortReverse" ng-click="sortReverse = false" class="glyphicon glyphicon-triangle-top"></span>
                </a>
              </th>
            </tr>
            <tbody>
              <tr ng-repeat="item in catalogue.module | orderBy:sortType:sortReverse | filter:searchText">
                <td>{{item.nom_module}}</td>
                <td>{{item.description_module}}</td>
                <td>{{item._id_gamme}}</td>
                <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="#" ng-click="confirmDelete()"><span class="glyphicon glyphicon-trash"></span></a></td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab heading="Composants">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                <a href="" ng-click="sortType = 'nom_composant'">Nom
                  <span ng-show="sortType == 'nom_composant'  && !sortReverse" ng-click="sortReverse = true" class="glyphicon glyphicon-triangle-bottom"></span>
                  <span ng-show="sortType == 'nom_composant'  && sortReverse" ng-click="sortReverse = false" class="glyphicon glyphicon-triangle-top"></span>
                </a>
              </th>
              <th>
                <a href="" ng-click="sortType = 'description_composant'">Description
                  <span ng-show="sortType == 'description_composant' && !sortReverse" ng-click="sortReverse = true" class="glyphicon glyphicon-triangle-bottom"></span>
                  <span ng-show="sortType == 'description_composant' && sortReverse" ng-click="sortReverse = false" class="glyphicon glyphicon-triangle-top"></span>
                </a>
              </th>
              <th>
                <a href="" ng-click="sortType = '_id_module'">Module
                  <span ng-show="sortType == '_id_module' && !sortReverse" ng-click="sortReverse = true" class="glyphicon glyphicon-triangle-bottom"></span>
                  <span ng-show="sortType == '_id_module' && sortReverse" ng-click="sortReverse = false" class="glyphicon glyphicon-triangle-top"></span>
                </a>
              </th>
              <th>
                <a href="" ng-click="sortType = 'prix_composant_ht_euros'">Prix HT
                  <span ng-show="sortType == 'prix_composant_ht_euros' && !sortReverse" ng-click="sortReverse = true" class="glyphicon glyphicon-triangle-bottom"></span>
                  <span ng-show="sortType == 'prix_composant_ht_euros' && sortReverse" ng-click="sortReverse = false" class="glyphicon glyphicon-triangle-top"></span>
                </a>
              </th>
            </tr>
            <tbody>
              <tr ng-repeat="item in catalogue.composant | orderBy:sortType:sortReverse | filter:searchText">
                <td>{{item.nom_composant}}</td>
                <td>{{item.description_composant}}</td>
                <td>{{item._id_module}}</td>
                <td>{{item.prix_composant_ht_euros}}</td>
                <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="#" ng-click="confirmDelete()"><span class="glyphicon glyphicon-trash"></span></a></td>
              </tr>
            </tbody>
            </tab>
          </table>
        </tabset>
      </div>
