
<div class="container" ng-controller="accueilCtrl">
  <div class="row">
    <div class="col-md-6">
      <h2>Bonjour {{session.user.prenom}} {{session.user.nom}}</h2>
    </div>
    <div class="pull-right">Date du jour</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Dernières notifications: </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li ng-repeat="datas in devis | orderBy:date_creation_devis" >
          {{devis.commercial.prenom_commercial}} - {{devis.commercial.nom_commercial}} - {{devis.commercial.etat}} - {{devis.commercial.date_derniere_modif}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Notifications personnelles: </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li ng-repeat="datas in devis | orderBy:date_creation_devis" >
          {{devis.commercial.prenom_commercial}} - {{devis.commercial.nom_commercial}} - {{devis.commercial.etat}} - {{devis.commercial.date_derniere_modif}}
        </li>
      </ul>
    </div>
  </div>
</div>
