<div class="container" ng-app="Madera" ng-controller="formCtrl">
	<form method="GET" id="my_form"></form>
	<div class="row">
		<div class="col-md-12">
			<accordion close-others="oneAtATime">
				<accordion-group ng-init="isOpen = true" is-open="isOpen">
					<accordion-heading>
						<!-- Client -->
						<h2>1. Création/édition du Client
							<span ng-class="getIconValidator([datas.client.nom_client, datas.client.prenom_client, datas.client.date_naissance_client, datas.client.telephone_client, datas.client.adresse, datas.client.profession, datas.client.mail, datas.client.date_creation_client])"></span>
						</h2>
					</accordion-heading>
					<table class="table">
						<tr>
							<td>
								<label>Nom</label>
								<input required required type="text" name="nom_client" form="my_form" ng-model="datas.client.nom_client">
							</td>
							<td>
								<label>Prenom</label>
								<input required type="text" name="prenom_client" form="my_form" ng-model="datas.client.prenom_client">
							</td>
							<td>
								<label>Date de naissance</label>
								<input required type="text" name="prenom_client" form="my_form" ng-model="datas.client.date_naissance_client">
							</td>
							<td>
								<label>Téléphone</label>
								<input required type="text" name="prenom_client" form="my_form" ng-model="datas.client.telephone_client">
							</td>
						</tr>
						<tr>
							<td>
								<label>Adresse</label>
								<input required type="text" name="prenom_client" form="my_form" ng-model="datas.client.adresse">
							</td>
							<td>
								<label>Profession</label>
								<input required type="text" name="nom_client" form="my_form" ng-model="datas.client.profession">
							</td>
							<td>
								<label>Mail</label>
								<input required type="text" name="prenom_client" form="my_form" ng-model="datas.client.mail">
							</td>
							<td>
								<label>Date de création</label>
								<input required type="text" name="prenom_client" form="my_form" ng-model="datas.client.date_creation_client">
							</td>
						</tr>
					</table>
				</accordion-group>
				<accordion-group>
					<!-- Commercial -->
					<accordion-heading>
						<h2>2. Sélection du Commercial
							<span ng-class="getIconValidator([datas.commercial.nom_commercial, datas.commercial.prenom_commercial, datas.commercial.matricule, datas.commercial.mail_commercial, datas.commercial.telephone_commercial])"></span>
						</h2>
					</accordion-heading>
					<table class="table">
						<tr>
							<td>
								<label>Nom</label>
								<input required type="text" name="nom_commercial" form="my_form" ng-model="datas.commercial.nom_commercial">
							</td>
							<td>
								<label>Prenom</label>
								<input required type="text" name="prenom_commercial" form="my_form" ng-model="datas.commercial.prenom_commercial">
							</td>
							<td>
								<label>Matricule</label>
								<input required type="text" name="prenom_commercial" form="my_form" ng-model="datas.commercial.matricule">
							</td>
							<td>
								<label>Mail</label>
								<input required type="text" name="prenom_commercial" form="my_form" ng-model="datas.commercial.mail_commercial">
							</td>
						</tr>
						<tr>
							<td>
								<label>Téléphone</label>
								<input required type="text" name="prenom_commercial" form="my_form" ng-model="datas.commercial.telephone_commercial">
							</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</accordion-group>
				<accordion-group>
					<!-- <accordion-group is-open="group.isOpen.Devis"> -->
					<accordion-heading>
						<!-- Devis -->
						<h2 class="noOutline">3. Saisie du devis
							<span ng-class="getIconValidator([datas.commercial.date_creation_devis, datas.commercial.date_derniere_modif, datas.commercial.etat])"></span>
						</h2>
					</accordion-heading>
					<table class="table">
						<tr>
							<td>
								<label>Création du devis</label>
								<input required type="text" name="prenom_commercial" form="my_form" ng-model="datas.commercial.date_creation_devis">
							</td>
							<td>
								<label>Dernière modification</label>
								<input required type="text" name="nom_commercial" form="my_form" ng-model="datas.commercial.date_derniere_modif">
							</td>
							<td>
								<label>Etat du devis</label>
								<input required type="text" name="prenom_commercial" form="my_form" ng-model="datas.commercial.etat">
							</td>
							<td></td>
						</tr>
						<tr>
							<td>
								<label>Gamme : </label>
								<select ng-model="select.gamme">
									<option ng-repeat="x in catalogue.gamme" value={{x.id_gamme}} ng-click="select.module=null;select.composant=null">{{x.nom_gamme}}</option>
								</select>
							</td>
							<td>
								<label>Module : </label>
								<select ng-model="select.module">
									<option ng-repeat="x in catalogue.module" value="{{x.id_module}}" ng-if="getMatchModule(select.gamme, x._id_gamme)" ng-click="select.composant=null">{{x.nom_module}}</option>
								</select>
							</td>
							<td>
								<label>Composants : </label>
								<select ng-model="select.composant">
									<option ng-repeat="x in catalogue.composant" value={{x.id_composant}} ng-if="getMatchComposant(select.module, x._id_module)">{{x.nom_composant}}</option>
								</select>
							</td>
							<td>
								<button ng-click="addChoixCatalogueRow(select.gamme, select.module, select.composant)" ng-disabled="select.gamme == undefined || select.module == undefined || select.composant == undefined">Ajouter</button>
								<button ng-click="select.gamme=null;select.module=null;select.composant=null">Reset</button>
							</td>
						</tr>
					</table>
					Vos choix :
					<table class="table">
						<tr>
							<th>#</th>
							<th>Gamme</th>
							<th>Module</th>
							<th>Composant(s)</th>
							<th>Prix HT</th>
							<th></th>
						</tr>
						<tr ng-repeat="company in choixCatalogue">
							<td>{{$index+1}}</td>
							<td>{{company.nom_gamme}}</td>
							<td>{{company.nom_module}}</td>
							<td>{{company.nom_composant}}</td>
							<td>{{company.prix_composant_ht_euros}}</td>
							<!--<td>
								<select ng-model="select.composant">
									<option ng-repeat="x in catalogue" value={{x.id}}>{{x.nom_gamme}}</option>
								</select>
							</td>-->
							<td>
								<!--<button>Editer</button>-->
								
								<a ng-click="removeChoixCatalogueRow(company.id_row)"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
						</tr>
					</table>

				</accordion-group>
			</accordion>
		</div>
	</div>

</div>