<!doctype html>
<html lang="fr" ng-app="Madera">
<head>
  <meta charset="utf-8">
  <title>Madera</title>
  <link rel="stylesheet" href="lib/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="lib/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="connectCtrl">
  <div class="container" >
    <div class="row">
      <div class="col-md-8">
        <!--Sidebar content-->
        <form  class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="login">Utilisateur</label>
            <div class="col-sm-10">
              <input class="form-control" ng-model="login">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="pass">Mot de passe</label>
            <div class="col-sm-10">
              <input class="form-control" ng-model="pass">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Connexion</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
