<!doctype html>
  <div class="container">
    <div ng-app="Madera" ng-controller="listCtrl">
      <div class="row">
        <div class="col-md-4">
          <h2>{{pageTitle}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 pull-left">
          <input type="text" placeholder="Rechercher" ng-model="searchText">
        </div>
        <!--  <div class="row" ng-include="'_submenu_catalogue.html'"></div> -->
{{param}}
      </div>
      <div class="row">
        <div class="col-md-12">
          <div ng-if="displayDevis" ng-include="'_liste_devis.html'"></div>
          <div ng-if="displayCatalogue" ng-include="'_liste_catalogue.html'"></div>
          <div ng-if="displayFournisseur" ng-include="'_liste_fournisseurs.html'"></div>
          </div>
        </div>
      </div>
    </div>
