<div id="list" layout="column" ng-cloak>
  <md-content>
    <md-list >
      <md-list-item ng-repeat="composant in datasComposants | orderBy:sortType:sortReverse | filter:searchText" ng-click="goToGamme(gamme.id_gamme, $event)" class="noright">
        <p>{{composant.nom_composant}}</p>
        <p> {{composant.description_composant}}</p>
          <p>Module: {{composant._id_module}}</p>
        <md-button class="md-secondary" ng-click="" aria-label="Edit">
          <ng-md-icon icon="create"></ng-md-icon>
        </md-button>
        <md-button class="md-secondary" ng-click="showConfirm($event)" aria-label="Delete">
          <ng-md-icon icon="delete"></ng-md-icon>
        </md-button>
        <md-divider></md-divider>
      </md-list-item>
      </md-list>
  </md-list>
</md-content>
</div>
