<div id="list" layout="column" ng-cloak>
  <md-content>
    <md-list >
      <md-list-item ng-repeat="data in datas | orderBy:sortType:sortReverse | filter:searchText" ng-click="goToFounisseurs(data.id_fournisseur, $event)" class="noright">
        <p>{{data.nom_fournisseur}}</p>
        <p>{{data.description_fournisseur}}</p>
        <p>{{data.tel_fournisseur}} </p>
        <p>{{data.adresse_fournisseur}}</p>
        <md-button class="md-secondary" ng-click="" aria-label="Edit">
          <md-icon md-svg-src="ressources/img/icons/ic_create_black_24px.svg"></md-icon>
        </md-button>
        <md-button class="md-secondary" ng-click="showConfirm($event)" aria-label="Delete">
          <md-icon md-svg-src="ressources/img/icons/ic_delete_black_24px.svg"></md-icon>
        </md-button>
        <md-divider></md-divider>
      </md-list-item>
      </md-list>
</md-content>
</div>
