<div id="list" layout="column" ng-cloak>
  <md-content>
    <md-table-container>
      <table md-table>
        <thead md-head>
          <tr md-row>
            <th md-column><span>Nom</span></th>
            <th md-column><span>Description</span></th>
            <th md-column>Téléphone</th>
            <th md-column>Adresse</th>
            <th md-column></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row mdSelectId="data.id_fournisseur" ng-repeat="data in datas | orderBy:sortType:sortReverse | filter:searchText">
            <td md-cell ng-click="goToFounisseurs(data.id_fournisseur)">{{data.nom_fournisseur}}</td>
            <td md-cell ng-click="goToFounisseurs(data.fournisseur)">{{data.description_fournisseur}}</td>
            <td md-cell ng-click="goToFounisseurs(data.fournisseur)">{{data.tel_fournisseur}}</td>
            <td md-cell ng-click="goToFounisseurs(data.fournisseur)">{{data.adresse_fournisseur}}</td>
            <td md-cell>
              <md-button class="md-secondary" ng-click="" aria-label="Edit">
                <md-icon md-svg-src="ressources/img/icons/ic_create_black_24px.svg"></md-icon>
              </md-button>
              <md-button ng-click="deleteSomething(data.id_fournisseur, 'deleteFournisseur')" aria-label="Delete">
                <md-icon md-svg-src="ressources/img/icons/ic_delete_black_24px.svg"></md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-content>
</div>