<div id="list" layout="column" ng-cloak>
  <md-content>
    <md-list >
      <md-list-item ng-repeat="data in datas | orderBy:sortType:sortReverse | filter:searchText" ng-click="goToDevis(data.id_devis)" class="noright">
        <p>N°{{data.num_devis}}</p>
        <p> {{data.nom_client}}</p>
        <p>Créé le {{data.date_creation}} </p>
        <p>Dernière modification le {{data.date_modif}}</p>
        <p>{{data.etat}}</p>
        <md-button class="md-secondary" ng-click="" aria-label="Edit">
          <md-icon md-svg-src="ressources/img/icons/.ic_create_black_24px.svg"></md-icon>
        </md-button>
        <md-button class="md-secondary" ng-click="showConfirm($event)" aria-label="Delete">
          <md-icon md-svg-src="ressources/img/icons/.ic_delete_black_24px.svg"></md-icon>
        </md-button>
        <md-divider></md-divider>
      </md-list-item>
      </md-list>
  </md-list>
</md-content>
</div>
