<div id="list" layout="column" ng-cloak>
  <!--<md-content>
    <md-list  >
      <md-list-item ng-repeat="data in datas | orderBy:sortType:sortReverse | filter:searchText" ng-click="goToDevis(data.id_devis)" class="noright">
        <p>N°{{data.num_devis}}</p>
        <p> {{data.nom_client}}</p>
        <p>Créé le {{data.date_creation}} </p>
        <p>Dernière modification le {{data.date_modif}}</p>
        <p>{{data.etat}}</p>
        <md-button class="md-secondary" ng-click="" aria-label="Edit">
          <md-icon md-svg-src="ressources/img/icons/ic_create_black_24px.svg"></md-icon>
        </md-button>
        <md-button class="md-secondary" ng-click="showConfirm($event)" aria-label="Delete">
          <md-icon md-svg-src="ressources/img/icons/ic_delete_black_24px.svg"></md-icon>
        </md-button>
        <md-divider></md-divider>
      </md-list-item>
      </md-list>
    </md-content>-->
    <!-- exact table from live demo -->
<md-table-container>
  <table md-table >
    <thead md-head>
      <tr md-row>
        <th md-column><span>Référence</span></th>
        <th md-column><span>Client</span></th>
        <th md-column>Date de création</th>
        <th md-column>Dernière modification</th>
        <th md-column>Statut</th>
        <th md-column></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-click="goToDevis(data.id_devis)" mdSelectId="data.id_devis" ng-repeat="data in datas | orderBy:sortType:sortReverse | filter:searchText">
        <td md-cell>{{data.num_devis}}</td>
        <td md-cell>{{data.nom_client}}</td>
        <td md-cell>{{data.date_creation}}</td>
        <td md-cell>{{data.date_modif}}</td>
        <td md-cell>{{data.etat}}</td>
        <td md-cell>
          <md-button class="md-secondary" ng-click="" aria-label="Edit">
            <md-icon md-svg-src="ressources/img/icons/ic_create_black_24px.svg"></md-icon>
          </md-button>
          <md-button  ng-click="showConfirm($event)" aria-label="Delete">
            <md-icon md-svg-src="ressources/img/icons/ic_delete_black_24px.svg"></md-icon>
          </md-button>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
</div>
