<md-toolbar ng-controller="tabCtrl" ng-show="!showSearch">
  <div class="md-toolbar-tools">
    <!-- hamburger -->
    <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <h3>
      Madera
    </h3>
    <span flex></span>
    <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
      <ng-md-icon icon="more_vert"></ng-md-icon>
    </md-button>
  </div>
  <md-tabs md-stretch-tabs class="md-primary" md-selected="selectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content">
      Accueil
    </md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">
      Devis
    </md-tab>
    <md-tab id="tab2" aria-controls="tab3-content">
     Catalogue
    </md-tab>
    <md-tab id="tab2" aria-controls="tab4-content">
     Fournisseurs
    </md-tab>
  </md-tabs>
</md-toolbar>
