<md-toolbar ng-controller="tabCtrl" ng-show="authentification">
  <div class="md-toolbar-tools">
    <h3>
      Madera
    </h3>
    <span flex></span>
    <md-button aria-label="profile" ng-click="showProfile($event)">
      <md-icon md-svg-src="ressources/img/icons/ic_person_black_24px.svg"></md-icon>
    </md-button>
    <md-button aria-label="déconnexion" ng-click="deleteToken()">
      <md-icon md-svg-src="ressources/img/icons/ic_power_settings_new_black_24px.svg"></md-icon>
    </md-button>
  </div>
  <md-tabs md-stretch-tabs class="md-primary" md-selected="selectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content">
      Accueil
    </md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">
      Devis
    </md-tab>
    <md-tab id="tab2" aria-controls="tab3-content">
     Catalogue
    </md-tab>
    <md-tab id="tab2" aria-controls="tab4-content">
     Fournisseurs
    </md-tab>
  </md-tabs>
</md-toolbar>
