<!doctype html>
<div ng-app="Madera" ng-controller="listCtrl">

  <md-card>
    <h2>{{pageTitle}}</h2>
    <div layout="row">
      <md-input-container flex-gt-xs="">
        <label>Rechercher</label>
        <input ng-model="searchText" type="text">
      </md-input-container>
      <md-input-container flex-gt-xs="">
        <label>Trier par</label>
        <md-select ng-model="sortType">
          <md-option ng-value="label.value" ng-repeat="label in labels ">{{ label.name }}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex-gt-xs="">
        <md-button aria-label="reverse" ng-click="sortReverse = !sortReverse ; setReverseIcon()">
          <ng-md-icon icon="{{reverseIcon}}"></ng-md-icon>
        </md-button>
      </md-input-container>
    </div>
    <md-card-content>
      <div ng-if="displayDevis" ng-include="'./views/_liste_devis.html'"></div>
      <div ng-if="displayCatalogue" ng-include="'./views/_liste_catalogue.html'"></div>
      <div ng-if="displayFournisseur" ng-include="'./views/_liste_fournisseurs.html'"></div>
    </md-card-content>
    <md-card-footer>

    </md-card-footer>
  </md-card>
  <!--{{datas}}-->
</div>
